body, html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    height: 10%;
    background-color: #333;
    padding: 10px;
    color: azure;
}

.headimg
{
    width: 50px;
    height: 50px;
    padding-left: 25px;
}

h1{
    text-align: center;
}

h1:hover
{
    text-decoration: underline;
    color: black;
}

/*  COMIENZO NAV */
nav
{
    background-color: #444;
    padding: 1px;
    height: 8%;
}

nav ul
{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-transform: uppercase;
    padding-top: 5px;
}

nav ul li:hover
{
    transform: scale(1.3);
}

nav ul li a
{
    text-decoration: none;
    font-size: larger;
    color: azure;
    font-weight: bold;
}

nav ul li a:hover
{
    background-color: rgba(54, 28, 89, 0.605);
    border-radius: 10px;
    color: white;
}

/*  FIN NAV */

/* INICIO SERVICIOS */

.Servicios1
{
    width: 100%;
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.h2serv
{
    text-align: center;
    padding-left: 40px;
}
.serv
{
border-radius: 15%;

}

.serv:hover
{
    
    background-color: rgba(54, 28, 89, 0.605);

}


.parserv
{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    padding: 10%;
}
.imgserv
{
width: 100px;
height: 100px;
padding-left: 40%;
margin-top: 15%;
}

/* FIN SERVICIOS */

/*  INICIO NOSOTROS */

.sobrenos
{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}



.h2nos
{
    text-align: center;
    color: black;
    font-size: 60px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.h2nos:hover
{
    text-decoration: underline black;
    
}

.Nosotros1
{
    width: 100%;
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.imgnos
{
    width: 70px;
    height: 70px;
    margin-top: 10%;
}


.cajanos1
{
    font-size: 30px;
    padding-left: 10px;
    margin-top: 5%;
    text-align: center;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
}

.cajanos1:hover
{
    color: white;
    background-color: black;
}
.cajanos2
{
    background-color: white;
    font-size: 30px;
    margin-top: 15%;
    margin-bottom: 15%;
    padding-left: 10px;
    text-align: center;
    border: 1px solid;
    border-radius: 20px;
}

.cajanos2:hover
{
    color: white;
    background-color: black;
}

/* FIN NOSOTROS */

/* INICIO CONTACTO */
.grid-container
{
    width: 100%;
    height: 100%;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    display: grid;
    background-size: cover;
    background-position: center;
}

.caja1
{
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 10%;
    padding-left: 10px;
}

.caja2
{
    margin-top: 15%;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 20%;
}

.form_input
{
    padding: 10px 20px;
    background-color: #000);    
}

input,textarea
{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: white;
    font-size: 30px;
    color: black;
}

textarea
{

    min-width: 100%;
    resize: none;
    min-height: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.dw1
{
    text-align: center;
    font-size: 60px;
    padding-left: 10%;
    color: #222;
}

.dw1:hover
{
    color: black;
    text-decoration: underline;
}

/*  FIN CONTACTO */

/* INICIO FOOTER */
.footer
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.033);
    height: 15vh;
    border-top: 1px solid black;
    
}

.cajafo
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: ;
}

.imgfo
{
    width: 50px;
    height: 50px;
    padding-left: 3%;
    margin-top: 1%;
}

.imgfo:hover
{
    transform: scale(1.5);
}

/* FIN FOOTER */