body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    height: 10%;
    background-color: #333;
    padding: 10px;
    color: azure;
    
}
h1{
    text-align: center;
}
nav
{
    background-color: #444;
    padding: 1px;
    height: 8%;
    
    
    
}

nav ul
{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-transform: uppercase;
    padding-top: 5px;
    

}

nav ul li a
{
    text-decoration: none;
    font-size: larger;
    color: azure;
    font-weight: bold;
}

nav ul li a:hover
{
    background-color: #999;
    border-radius: 10px;
}

.Contacto1
{
    background-image: url(https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    
}
.section
{
    width: 50%;
    font-weight: bolder;
    font-size: 40px;
    padding: 25px;
    color: azure;
    text-align: center;
    display: inline-block;
}

h2
{
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    
}

form
{
    margin-top: 25vh;
    display: inline-block;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.567);
    padding: 20px 0;
    max-width: 500px;
    color: azure;
    font-size: 35px;
    border: none;
    border-radius: 15px;
    padding: 0;
    
}

.form_input
{
    padding: 10px 20px;
    background-color: #000);    
}

input,textarea
{
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: white;
    font-size: 30px;
    color: black;
}

textarea
{

    min-width: 100%;
    resize: none;
    min-height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.Servicios1
{
    width: 100%;
    background-color: aqua;
    height: 100vh;
}

.Nosotros1
{
    width: 100%;
    background-color: rebeccapurple;
    height: 100vh;
}

footer
{
    width: 100%;
    background-color: #444;
    height: 20vh;
}